[ req ]
prompt                 = no
days                   = 365
distinguished_name     = req_distinguished_name
req_extensions         = v3_req


[ req_distinguished_name ]
countryName            = NL
stateOrProvinceName    = NORTH HOLLAND
localityName           = NORTH
organizationName       = ABN AMRP Bank N.V.
organizationalUnitName = DEV
commonName             = tacp.azure.nl.eu.abnamro.com
emailAddress           = cp-test@abnamro.com

[ v3_req ]
basicConstraints       = CA:false
extendedKeyUsage       = serverAuth
subjectAltName         = @sans

[ sans ]
DNS.1 = admin.tacp.azure.nl.eu.abnamro.com
DNS.2 = *.admin.tacp.azure.nl.eu.abnamro.com
DNS.3 = subscription.tacp.azure.nl.eu.abnamro.com
DNS.4 = *.subscription.tacp.azure.nl.eu.abnamro.com
DNS.5 = *.tacp.azure.nl.eu.abnamro.com
DNS.6 = tacp-tunnel.azure.nl.eu.abnamro.com
DNS.7 = *.tacp-tunnel.azure.nl.eu.abnamro.com


