[ req ]
prompt                 = no
days                   = 365
distinguished_name     = req_distinguished_name
req_extensions         = v3_req


[ req_distinguished_name ]
countryName            = GB
stateOrProvinceName    = LONDON
localityName           = EAST
organizationName       = TIBCO PLATFORM
organizationalUnitName = DEV
commonName             = platform.localhost.dataplanes.pro
emailAddress           = cp-test@tibco.com

[ v3_req ]
basicConstraints       = CA:false
extendedKeyUsage       = serverAuth
subjectAltName         = @sans

[ sans ]
DNS.1 = bwce.localhost.dataplanes.pro
DNS.2 = flogo.localhost.dataplanes.pro 
DNS.3 = dh.localhost.dataplanes.pro
DNS.4 = dh.localhost.dataplanes.pro
DNS.5 = bwce.app.localhost.dataplanes.pro
DNS.6 = flogo.app.localhost.dataplanes.pro
DNS.7 = grafana.o11y.localhost.dataplanes.pro 
DNS.8 = prometheus-internal.o11y.localhost.dataplanes.pro
DNS.9 = apm.o11y.localhost.dataplanes.pro 
DNS.10 = kibana.o11y.localhost.dataplanes.pro 
DNS.11 = elastic.o11y.localhost.dataplanes.pro
DNS.12 = *.localhost.dataplanes.pro
DNS.13 = *.benelux.cp1-my.localhost.dataplanes.pro
DNS.14 = *.cp1-tunnel.localhost.dataplanes.pro
DNS.15 = *.cp.localhost.dataplanes.pro
DNS.16 = *.tunnel.localhost.dataplanes.pro
DNS.17 = *.benelux.cp.localhost.dataplanes.pro
DNS.28 = *.benelux.tunnel.localhost.dataplanes.pro