[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = PASSPHRASE
 
[dn]
CN = *.localhost.dataplanes.pro
O = TIBCO
L = Amsterdam
ST = North-Holland
C = NL
 
# This certificate is for wildcard hosts.
[ext]
subjectAltName = \
    DNS:*.cp1-my.localhost.dataplanes.pro,\
    DNS:*.dev1.cp1-my.localhost.dataplanes.pro,\
    DNS:*.dev2.cp1-my.localhost.dataplanes.pro,\
    DNS:*.dev3.cp1-my.localhost.dataplanes.pro,\
    DNS:*.cp1-tunnel.localhost.dataplanes.pro