[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = PASSPHRASE
 
[dn]
CN = *.localhost.dataplanes.pro
O = TIBCO
L = Amsterdam
ST = North-Holland
C = NL
 
# This certificate is for wildcard hosts.
[ext]
subjectAltName = \
    DNS:*.localhost.dataplanes.pro,\
    DNS:*.dev-tunnel.localhost.dataplanes.pro,\
    DNS:flogo.poc.dev.localhost.dataplanes.pro,\
    DNS:poc.dev.localhost.dataplanes.pro

# DNS entries consist out of (see secrets.env configuration):
# - {CP_SUBSCRIPTION_NAME}.{CP_INSTANCE_ID}.{DNS_DOMAIN}
# and variants of this.
#
# minimal required DNS entries for one CP and one subscriptions are:
# - admin.dev.localhost.dataplanes.pro
# - poc.dev.localhost.dataplanes.pro
# - poc.dev-tunnel.localhost.dataplanes.pro
# 
# Also be aware of the DNS ingress for capabilities
# for instance:
# - flogo.poc.dev.localhost.dataplanes.pro
