[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = PASSPHRASE
 
[dn]
CN = *.tacp.azure.nl.eu.abnamro.com
O = TIBCO
L = Amsterdam
ST = North-Holland
C = NL
 
# This certificate is for wildcard hosts.
[ext]
subjectAltName = \
    DNS:*.tacp.azure.nl.eu.abnamro.com,\
    DNS:*.dev1.tacp.azure.nl.eu.abnamro.com,\
    DNS:*.dev2.tacp.azure.nl.eu.abnamro.com,\
    DNS:*.dev3.tacp.azure.nl.eu.abnamro.com,\
    DNS:*.cp1-tunnel.tacp.azure.nl.eu.abnamro.com